.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.homeList {
  gap: 32px;
  overflow-y: hidden;
  margin-inline-start: 0;
  padding-inline-start: 0;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;
}
