.item {
  display: flex;
  border-radius: 1.56vw;
  width: 77.08vw;
  height: auto;
  background: #fbfbfb;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 3.3vh;
  padding-bottom: 3.3vh;
}
.board {
  position: relative;
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 2vw;
  width: 7.8vw;
  height: 7.8vw;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  border-radius: 1vw;
  width: 6.25vw;
  height: 6.25vw;
}
.svgName {
  position: absolute;
  z-index: 5;
  bottom: 82%;
  left: 82%;
  width: 0.65vw;
  height: 0.65vw;
}
.titlePart {
  padding-right: 1.56vw;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 150%;
  color: #8a8a89;
  align-items: center;
  justify-content: space-between;
}
.titleSpan {
  font-size: 1.5vw;
  font-style: normal;
  color: var(--secondary-text-color);
}

.title {
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 150%;
  color: var(--primary-text-color);
}

.svgRating {
  position: static;
  width: 1.04vw;
  height: 1.04vw;
}

.price {
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 150%;
  color: var(--primary-text-color);
}
.priceSpan {
  color: #38cd3e;
  font-style: normal;
}
.maneName {
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 100%;
  margin-top: 1.08vh;
  color: var(--primary-text-color);
}

.aboutPart {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: 0.78vw;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  height: 2.7vh;
}

.address {
  margin-block-end: 0;
  margin-block-start: 0;
}

.aboutDetails {
  display: flex;
}

.details {
  max-width: 64.5vw;
  margin-left: 1.56vw;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.moreDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 7.8vw;
  width: 100%;
  height: 100%;
  font-size: 1.04vw;
  cursor: pointer;
}

.favorIcon {
  fill: var(--button-background-color);
  width: 2.5vw;
  height: 2.3vw;
}
.nofavorIcon {
  width: 2.5vw;
  height: 2.3vw;
}
.imgButton {
  border: none;
  position: relative;
  background: inherit;
  bottom: 30px;
  left: 15px;
}

.aboutPart2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 1.56vw;
}
.about1 {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.56vw;
  padding: 0.5em;
  width: auto;
  height: 2.6vw;
  background: #f3f3f3;
  font-weight: 500;
  font-size: 1.04vw;
  color: #8a8a89;
  flex-direction: row;
  flex-wrap: nowrap;
}
.experienceSpan {
  font-style: normal;
  font-weight: 500;
  color: var(--primary-text-color);
}
.article {
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 125%;
  color: var(--secondary-text-color);
  margin-top: 1.56vw;
  margin-bottom: 1.56vw;
}

.makeAnAppointment {
  font-weight: 500;
  font-size: 1.56vw;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--primary-text-color);
}

.comments {
  width: 77.08vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.reviewList {
  padding-left: 0;
  width: 100%;
  margin-top: 3.1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  gap: 1.6vw;
}

.itemRewiew {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.04vw;
}
.firstLet {
  font-size: 1.04vw;
  border-radius: 6.5vw;
  width: 2.9vw;
  height: 2.9vw;
  background: var(--light);
  color: var(--button-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.let {
  padding-left: 0.78vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}
.reviewName {
  font-weight: 500;
  font-size: 1.04vw;
}
.reviewRating {
  font-weight: 500;
  font-size: 1.04vw;
}
.svgReview {
  position: static;
  width: 1.04vw;
  height: 0.94vw;
}
.letRat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}
.reviewComments {
  font-weight: 400;
  font-size: 1.04vw;
  line-height: 125%;
  color: var(--secondary-text-color);
}
.makeAnAppointment {
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 0.9vw 1.8vw;
  width: 14.8vw;
  height: 3.1vw;
  background: var(--button-background-color);
  outline: none;
  outline-offset: 0;
  border: none;
  text-decoration: none;
  margin-top: 2.6vw;
}

.makeAnAppointment:hover,
.makeAnAppointment:focus {
  background: var(--button-background-color-active);
}

.body-no-scroll {
  overflow: hidden;
}

@media (min-width: 1440px) {
  .titleSpan {
    font-size: 1.04vw;
  }
  .article {
    font-weight: 400;
    font-size: 1.04vw;
  }
  .favorIcon {
    fill: var(--button-background-color);
    width: 1.7vw;
    height: 1.4vw;
  }
  .nofavorIcon {
    width: 1.7vw;
    height: 1.4vw;
  }

  .imgButton {
    border: none;
    position: relative;
    background: inherit;
    bottom: 0px;
    left: 1.3vw;
  }
}
