@import '../../index.css';
.header {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 1438px;
    height: 114px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
}

.mainTit {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.favic {
    width: 32px;
    height: 32px;
}

.mainTitleSpan {
    background: var(--title);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-size: clamp(8px, 2vw, 20px);
}

.toLink:hover,
.toLink:focus,
.active:hover,
.active:focus {
    cursor: pointer;
    transition: color 2s ease;
    font-weight: 500;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
}

.toLink {
    position: relative;
    width: auto;
    /* font-size: clamp(8px, 2vw, 16px); */
    letter-spacing: -0.01em;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: var(--greyscale-white);
}

.active {
    position: relative;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    color: var(--button-background-color);
}

.authorization {
    display: flex;
    gap: 0.5vw;
}

.contact {
    color: var(--links-color);
    width: 7em;
    height: 2.5em;
    background: inherit;
    line-height: 1.25;
    letter-spacing: -0.01em;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
    letter-spacing: -0.01em;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    z-index: 3;
}

.login {
    color: var(--links-color);
    width: 5em;
    height: 1.5em;
    background: inherit;
    line-height: 1.25;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
    letter-spacing: -0.01em;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    z-index: 3;
}

.register {
    background: var(--button-background-color);
    color: var(--links-color);
    width: 7em;
    border: 3px solid var(--button-background-color);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    height: 1.5em;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.01em;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    z-index: 3;
}

.contact:hover,
.contact:focus,
.login:hover,
.login:focus,
.register:hover,
.register:focus {
    background: var(--button-background-color);
    color: var(--greyscale-white);
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
}

.theme {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.darkTheme,
.whiteTheme {
    position: relative;
    width: 1.3em;
    height: 1.3em;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
    z-index: 3;
}

.darkTheme {
    background: #18181b;
}

.whiteTheme {
    background: #fff;
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-background-color);
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 0.6vw;
}

.nameLogOutButton {
    font-size: clamp(8px, 2vw, 16px);
}

.logOutButton {
    border: 1px solid rgba(25, 26, 21, 0.2);
    display: flex;
    width: 8.1vw;
    font-size: 1.04vw;
    line-height: 125%;
    letter-spacing: -0.01em;
    border-radius: 2vw;
    height: 3em;
    align-items: center;
    justify-content: center;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.body-no-scroll {
    overflow: hidden;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgerMenu {
    position: relative;
    width: 30px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    z-index: 3;
}

.line {
    width: 100%;
    height: 2px;
    z-index: 10;
    transition: transform 0.1s ease;
    background-color: var(--button-background-color);
}

.burgerMenu.open .line:nth-child(1) {
    /* transform: translate(0, var(--offsetY)) rotate(45deg); */
    transform: rotate(45deg) translateY(10px);
}

.burgerMenu.open .line:nth-child(2) {
    opacity: 0;
}

.burgerMenu.open .line:nth-child(3) {
    /* transform: translate(0, calc(-1 * var(--offsetY))) rotate(-45deg); */
    transform: rotate(-45deg) translateY(-10px);
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: calc (50vw + 50%);
    background-color: var(--button-background-color);
    width: 110px;
    height: auto;
    z-index: 1;
    transform: translateY(-200%);
    transition: transform 2s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.menu.active {
    transform: translateY(0);
}

.link {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
    align-items: center;
}

body.noscroll {
    overflow: hidden;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
        height: 114px;
        box-sizing: border-box;
        margin: 0;
    }
    .left {
        gap: 10%;
    }
    .mainTit {
        padding-left: 0;
    }
    .menu {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        display: flex;
        flex-direction: row;
        position: static;
        width: 518px;
        height: 28px;
        transform: none;
        background: inherit;
        box-shadow: none;
        justify-content: space-between;
    }
    .menu.active {
        transform: none;
    }
    .auth {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1%;
    }
    /* .links {
        display: flex;
        justify-content: stretch;
        align-items: center;
        width: 518px;
    } */
    .theme {
        /* padding-right: 20px; */
    }
    .link {
        display: flex;
        text-decoration: none;
        color: var(--links-color);
        font-weight: bold;
        align-items: center;
        padding-left: 0;
        justify-content: center;
        left: 0;
        /* width: calc(518px / 5); */
    }
    .burgerMenu {
        display: none;
        gap: 0;
    }
}