body {
    margin: 0;
    height: 100%;
    display: flex;
    background: var(--background-home);
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    text-decoration-color: var(--primary-text-color);
}

img {
    display: block;
}

button {
    cursor: pointer;
}

code {
    font-family: 'Manrope', sans-serif;
}

:root {
    --primary-text-color: #fff;
    --secondary-text-color: rgba(25, 26, 21, 0.5);
}


/* :root {
	--main-colors-purple: #ca6aeb;
	--main-colors-blue: #19b5f1;
	--greyscale-black-100: #18181b;
	--greyscale-black-80: #252532;
	--greyscale-grey-1: #b0b0b2;
	--greyscale-grey-2: #d1d1d1;
	--greyscale-white: #fff;
	--alerts-success: #00c566;
	--alerts-error: #ff4747;
	--alerts-warning: #facc15;
} */

html[data-theme='dark'] {
    --background-home: #18181b;
    --button-background-color: #ca6aeb;
    --button-background-color-active: #ca6aeb;
    --light: #ca6aeb;
}

html[data-theme='white'] {
    --background-home: #fff;
    --button-background-color: #ca6aeb;
    --button-background-color-active: #ca6aeb;
    --light: rgba(252, 131, 44, 0.2);
}